In [3]:
tup=()
for i in range(5):
 x=(int(input('enter a number')), )
 tup=tup+x

tup

enter a number 12
enter a number 23
enter a number 34
enter a number 45
enter a number 56

(12, 23, 34, 45, 56)

In [6]:
t1=1, 2, 3
t2='a', 'b', 'c', 'd', 'e'
t3=t1
for i in range (len(t2)):
 t3=t3+(t2[i], )
t3

(1, 2, 3, 'a', 'b', 'c', 'd', 'e')

In [13]:
x=input('enter the value to search:')
t=(1, 'a', 13, 'ahmed', 90, 13)
count=0
for i in range(len(t)):
   if x == str(t[i]):
     count=count+1
count

enter the value to search: 13

2

In [14]:
x=input('enter the value to search:')
t=(1, 'a', 13, 'ahmed', 90, 13)
count=0
for i in range(len(t)):
   if x == str(t[i]):
     count=count+1
count

enter the value to search: ahmed

1

In [15]:
x=input('enter the value to search:')
t=(1, 'a', 13, 'ahmed', 90, 13)
count=0
for i in range(len(t)):
   if x == str(t[i]):
     count=count+1
count

enter the value to search: 100

0

In [19]:
x=input('enter the value to search:')
t=(1, 'a', 13, 'ahmed', 90, 13)
size=len(t)
for i in range(size):
    if x==str(t[i]):
       index=i
index

enter the value to search: 13

5

In [20]:
x=input('enter the value to search:')
t=(1, 'a', 13, 'ahmed', 90, 13)
size=len(t)
for i in range(size):
    if x==str(t[size-1-i]):
       index=size-1-i
       break
index

enter the value to search: 13

5

In [21]:
t=(1, 'a', 13, 'ahmed', 90, 13)
size=len(t)
for i in range(size):
        print (t[size-1-i])

13
90
ahmed
13
a
1

In [22]:
x=set(1234)

TypeError: 'int' object is not iterable

In [24]:
x={2, 4, 45,'ahmed'}
x[1]

TypeError: 'set' object is not subscriptable

In [25]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
cherry
apple

In [26]:
 thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [30]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [33]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [1]:
thisset.remove("pineapple")

NameError: name 'thisset' is not defined

In [2]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [3]:
thisset.discard("pineapple")

In [4]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 'b', 3, 'c'}

In [5]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'a', 'b', 3, 'c'}

In [36]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [37]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [38]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [6]:
s={5, 8, 9, 'jj'}
l=list(s)

In [8]:
s=set(l)

In [18]:
l=['ahmed', 'ali']
s=set(l)
s

{'ahmed', 'ali'}

In [20]:
size=int(input('enter the set size:'))
lst=[]
s=set()
for i in range(size):
   print('enter value number ', i+1, ' in the set:')
   x=input()
   lst.append(x)
s=set(lst)
s

enter the set size: 3

enter value number  1  in the set:

 mohammed

enter value number  2  in the set:

 ahmed

enter value number  3  in the set:

 mahmoud

{'ahmed', 'mahmoud', 'mohammed'}

In [2]:
s=set({'ahmed', 'ali'})
s2=set({123, 456, 567})
l=list(s)
l2=list(s2)
for i in range(len(l2)):
    l.append(l2[i])  
   
s=set(l)
s

{123, 456, 567, 'ahmed', 'ali'}