In [ ]:
2+2

50-5*6

In [ ]:
(50-5*6)/4

In [6]:
8/5

1.6

In [36]:
# this is a comment line.

# comments begin with the hach (#) character.

# python will not execute comments.


"""
This is a multiline comment
it starts with three quotes at the first line
and ends with three quotes at the last line
"""

# this is the first comment

spam = 1 # and this is the second comment

# ... and now a third!

text = "# This is not a comment because it's inside quotes."

In [ ]:
"""
This is a comment
written in
more than just one line
"""

In [28]:
# this is the first comment
spam = 1 # and this is the second comment
# ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [7]:
17/3    #division: output is float

5.666666666666667

In [8]:
17//3   #  the // operator is floor division, i.e. discard the fractional part

5

In [9]:
17%3   # the % operator returns the reminderof the division

2

In [39]:
""" There is full support for floating point; 
operators with mixed type operands convert the integer operand to floating point
"""
4 * 3.75 - 1

14.0

In [47]:
width=20    # the = operator assign a variable to a value. Note: no result is displayed

In [48]:
height=5*9

In [49]:
width*height

900

In [58]:
width   #typing a declared vaiable name will print its value

20

In [54]:
n   # type an undeclared variable will returns "not defined" ERROR!!

NameError: name 'n' is not defined

In [59]:
# The last printed expression is assigned to the variable _ 
_*2

40

In [9]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [11]:
price + _

113.06

In [12]:
round(_, 2)

113.06

In [13]:
'spam eggs' # single quotes

'spam eggs'

In [14]:
"spam eggs" # double quotes

'spam eggs'

In [15]:
'doesn\'t' # use \' to escape the single quote...

"doesn't"

In [16]:
"doesn't" # ...or use double quotes instead

"doesn't"

In [17]:
'"Yes," they said.'

'"Yes," they said.'

In [18]:
"\"Yes,\" they said."

'"Yes," they said.'

In [19]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [26]:
"wewer 'hjh gf"

"wewer 'hjh gf"

In [27]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [28]:
print('First line.\nSecond line.')    # \n means newline

First line.
Second line.

In [ ]:
If you donâ€™t want characters prefaced by \ to be interpreted as special characters, 
you can use raw strings by adding an r before the first quote

In [29]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [31]:
print(r'C:\some\name') # note the r before the quote

C:\some\name

In [ ]:
String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''

In [33]:
print("""\
Usage: thingy [OPTIONS]
-h                  Display this usage message
-H hostname         Hostname to connect to
""")

Usage: thingy [OPTIONS]
-h                  Display this usage message
-H hostname         Hostname to connect to

In [ ]:
Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [35]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [ ]:
Two or more string literals (i.e. the ones enclosed between quotes) 
next to each other are automatically concatenated.

In [2]:
!pip install camelcase

Requirement already satisfied: camelcase in ./anaconda3/lib/python3.7/site-packages (0.2)

In [3]:
pip --version

pip 20.0.2 from /home/zeinab/anaconda3/lib/python3.7/site-packages/pip (python 3.7)
Note: you may need to restart the kernel to use updated packages.

In [38]:
'Py''thon'

'Python'

In [ ]:
This feature is particularly useful when you want to break long strings

In [42]:
text = ('Put several strings within parentheses ' 
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [53]:
prefix = 'Py'
prefix 'thon' # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-53-790629626a80>, line 4)

In [44]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-44-f4764cbe42a8>, line 1)

In [49]:
prefix='py'
prefix + 'thon'

'python'

In [55]:
word = 'Python'
word[0] # character in position 0

'P'

In [56]:
word[5] # character in position 5

'n'

Indices may also be negative numbers, to start counting from the right:

In [57]:
word[-1]

'n'

In [58]:
word[-2]

'o'

In [59]:
word[-6]

'P'

In [60]:
word[0:2]    # characters from position 0 (included) to 2 (excluded)

'Py'

In [61]:
word[2:5]   # characters from position 2 (included) to 5 (excluded)

'tho'

In [62]:
word[:2] + word[2:]

'Python'

In [63]:
word[:4] + word[4:]

'Python'

In [64]:
word[:2]   # character from the beginning to position 2 (excluded). Equivalent to word[0:2]

'Py'

In [65]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [66]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [67]:
word[42] # the word only has 6 characters

IndexError: string index out of range

In [68]:
word[4:42]

'on'

In [69]:
word[42:]

''

In [70]:
 word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [71]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [72]:
'J' + word[1:]

'Jython'

In [73]:
word[:2] + 'py'

'Pypy'

In [74]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [75]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [76]:
squares[0] # indexing returns the item

1

In [77]:
squares[-1]

25

In [78]:
squares[-3:]    # slicing returns a new list

[9, 16, 25]

In [79]:
squares[:]

[1, 4, 9, 16, 25]

In [80]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
cubes = [1, 8, 27, 65, 125] # something's wrong here

In [82]:
4 ** 3 # the cube of 4 is 64, not 65!

64

In [83]:
cubes[3] = 64 # replace the wrong value

In [84]:
cubes

[1, 8, 27, 64, 125]

In [85]:
cubes.append(216) # add the cube of 6
cubes.append(7 ** 3) # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [86]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [87]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [88]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [89]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [91]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [127]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [129]:
x[0]

['a', 'b', 'c']

In [131]:
x[0][1]

'b'

In [133]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [144]:
a, b=0, 1  #multiple assignment: the variables a and b simultaneously get the new values 0 and 1.
print('a value= ', a, '\nb value =', b)

a value=  0
b value = 1

In [145]:
a, b = b, a+b+3

In [146]:
print('a value= ', a, '\nb value =', b)

a value=  1
b value = 4

In [147]:
print('_ value is', _)

_ value is b

In [142]:
i=767

In [148]:
input("Please enter an integer: ")

Please enter an integer:  45

'45'

In [152]:
input("Please enter your name: ")

Please enter your name:  noha

'noha'

In [151]:
input("Please enter an integer: ")

Please enter an integer:  56

'56'

In [150]:
int(input("Please enter an integer: "))

Please enter an integer:  56

56

In [153]:
 a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [154]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [155]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [156]:
 if a > b: print("a is greater than b")

In [157]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [158]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [159]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [160]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (<ipython-input-160-4276c1871af7>, line 4)

In [161]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [163]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [164]:
a = 33
b = 200

if b > a:
  pass

In [165]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [166]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [167]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [168]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [169]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [170]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [171]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [172]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [173]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [175]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:       # Loop over a slice copy of the entire list.
   if len(w) > 6:
       words.insert(0, w)
print (words)

['defenestrate', 'cat', 'window', 'defenestrate']

In [177]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:       # Loop over a slice copy of the entire list.
   if len(w) > 6:
       words.insert(0, w)
words

['defenestrate', 'cat', 'window', 'defenestrate']

s=range(5)
s

In [179]:
x=range(5)
x

range(0, 5)

In [180]:
range(5, 10)

range(5, 10)

In [181]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [182]:
for i in range(5):
   print(i)

0
1
2
3
4

In [183]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [184]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [185]:
 for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [186]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!") adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

0
1
2

In [187]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [188]:
for x in [0, 1, 2]:
  pass

In [ ]:
while True:
   pass # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
x=5x

In [ ]:
x=5

In [ ]:
x