In [1]:
x=5

In [4]:
x="sally"

In [5]:
y='hello world'

In [6]:
num=5
num

5

In [7]:
str(num)

'5'

In [8]:
float(num)

5.0

In [9]:
f=2.56
f

2.56

In [10]:
int(f)

2

In [12]:
r='hello'

In [13]:
type(r)

str

In [14]:
m=23.53

In [15]:
type(m)

float

In [16]:
i=56544
type(i)

int

In [17]:
d=67
D='hello'
print(D)

hello

In [21]:
x=5                #integer number
x="sally"          # string
y='hello world'    #string

In [22]:
print(x)

sally

In [23]:
print(y)

hello world

In [26]:
course_code="CS522"
studentName="Noha"
Student1Age=25
_mail="noha123@hotmail.com"

In [28]:
1studentName="Ahmed"

SyntaxError: invalid syntax (<ipython-input-28-4d89b568302a>, line 1)

In [30]:
$studentAge=25

SyntaxError: invalid syntax (<ipython-input-30-1f131ca439e2>, line 1)

In [31]:
print(d)

67

In [34]:
w, x, y, z = "Orange", 1, "apple", 2.25
print('w=', w)
print('x=', x)
print('y=', y)
print('z=', z)

w= Orange
x= 1
y= apple
z= 2.25

In [37]:
x= y = "Orange"
print('x=', x)
print('y=', y)

x= Orange
y= Orange

In [38]:
 fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [39]:
import random

print(random.randrange(1, 10))

5

In [50]:
txt = "Hi, This is my text"
"hi" in txt

True

In [51]:
txt = "Hi, This is my text"
"CS" in txt

False

In [52]:
txt = "Hi, This is my text"
"hi" not in txt

False

In [54]:
txt = "Hi, This is my text"
"CS" not in txt

True

In [62]:
age=25
txt="hello, I am " + str(age)
print(txt)

hello, I am 25

In [59]:
age=25
txt="hello, I am {} years old."
print(txt.format(age))

hello, I am 25 years old.

In [61]:
name='Ahmed'
CS=90
OR= 85
IT=70
txt="hello, My name is {}. My grade in CS is {}. My grade in IT is {} and in OR is {}."
print(txt.format(name, CS, IT, OR))

hello, My name is Ahmed. My grade in CS is 90. My grade in IT is 70 and in OR is 85.

In [60]:
name='Ahmed'
CS=90
OR= 85
IT=70
txt="hello, My name is {0}. My grade in CS is {1}. My grade in IT is {3} and in OR is {2}."
print(txt.format(name, CS, OR, IT))

hello, My name is Ahmed. My grade in CS is 90. My grade in IT is 70 and in OR is 85.

In [63]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [64]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [66]:
a = "    Hello, World!    "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [67]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [68]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [72]:
 print( "We are the so-called "Vikings" from the north." )

SyntaxError: invalid syntax (<ipython-input-72-18fc3f7f18b3>, line 1)

In [71]:
 print( "We are the so-called \"Vikings\" from the north." )

We are the so-called "Vikings" from the north.

In [73]:
print(10 > 9)

True

In [74]:
print(10 == 9)

False

In [75]:
 print(bool("Hello"))

True

In [76]:
 print(bool(3450))

True

In [77]:
 print(bool(0))

False

In [78]:
 print(bool(0.45))

True

In [79]:
 print(bool(10==9))

False

In [80]:
 print(bool(10>9))

True

In [83]:
l=[2, 3.4, 'dfg', True]
print (l)

[2, 3.4, 'dfg', True]

In [84]:
type(l)

list

In [85]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [86]:
type(thislist)

list

In [106]:
fruits=['apple', 'banana', 'orange', 'berry']
print('cherry' in fruits)

False

In [107]:
print('orange' in fruits)

True

In [116]:
fruits=['apple', 'banana', 'orange', 'berry']
fruits

['apple', 'banana', 'orange', 'berry']

In [117]:
fruits[1:3]=['mange', 'kiwi']

In [118]:
fruits

['apple', 'mange', 'kiwi', 'berry']

In [119]:
fruits=['apple', 'banana', 'orange', 'berry']
fruits

['apple', 'banana', 'orange', 'berry']

In [120]:
fruits[1:2]=['mange', 'kiwi']
fruits

['apple', 'mange', 'kiwi', 'orange', 'berry']

In [121]:
fruits=['apple', 'banana', 'orange', 'berry']
fruits

['apple', 'banana', 'orange', 'berry']

In [122]:
fruits[1:4]=['mange', 'kiwi']
fruits

['apple', 'mange', 'kiwi']

In [124]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [125]:
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry']

In [126]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [127]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [128]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [129]:
 thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [130]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [133]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [134]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [135]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [136]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [139]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [140]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}